<PaperContent>
  <div class="paper-content--block">
    <div class="layout-row layout-align-start-center h-100">
      <div>
        <b>Builds</b>
      </div>
    </div>
  </div>
  <PaperDivider />
  <PaperList>
    {{#if this.builds}}
      {{#each this.builds key="@index" as |build|}}
        <PaperItem @class="md-3-line" @href={{href-to "build" build.id}}>
          <PaperButton @raised={{true}} @mini={{true}} @primary={{true}} @disabled={{true}}>
            {{build.id}}
          </PaperButton>
          <div class="md-list-item-text">
            <h3>{{to-fixed build.time 2}}ms</h3>
            <h4>{{build.filePath}}</h4>
            <h4>{{build.amountOfNodes}} nodes run</h4>
          </div>
        </PaperItem>
      {{/each}}

      {{#if (and this.isCollapsed (gt @builds.length 10))}}
        <PaperButton @onClick={{this.uncollapse}}>Show {{sub @builds.length 10}} more builds</PaperButton>
      {{/if}}
    {{else}}
      <PaperItem>
        No builds found
      </PaperItem>
    {{/if}}
  </PaperList>
</PaperContent>
