<div class="empty-state text-center">
  <div class="empty-state--icon">
    <FaIcon @icon={{@iconType}} @size={{@iconSize}} @spin={{@spin}}/>
  </div>
  <h2 class="empty-state--title">{{@title}}</h2>
  <p class="empty-state--subtitle">{{@subtitle}}</p>
</div>
