<PaperCard as |card|>
  <card.content @class="p-0">
    <PaperSidenavContainer>
      <PaperCardContent @class="flex p-0">
        {{#if loading}}
          <PaperCard as |card|>
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Currently loading file</text.headline>
                <text.subhead>Please do not refresh, this page will refresh when data is loaded</text.subhead>
              </title.text>
              <PaperProgressCircular @accent={{true}} @class="md-hue-1" @diameter={{60}} />
            </card.title>
          </PaperCard>
        {{else}}
          {{#if this.file}}
            <div style="height:700px;">
              <PaperToolbar>
                <PaperToolbarTools>
                  {{this.filePath}} {{this.line}}:{{this.column}}
                </PaperToolbarTools>
              </PaperToolbar>

              <CodeBlock style="overflow:scroll;height:100%;" class="line-numbers mb-0 mt-0" @code={{this.file}} @language="javascript" data-line={{this.line}}/>
            </div>
          {{else}}
            <EmptyState
              @iconType="code"
              @title="Click stack line on the right to see file"
            />
          {{/if}}
        {{/if}}
      </PaperCardContent>

      <PaperSidenav @class="md-whiteframe-z2" @lockedOpen={{true}}>
        <PaperContent>
          <PaperList>
            {{#each this.instantiationStack as |instantiationStackLine|}}
              {{#if instantiationStackLine.filePath}}
                <PaperItem @onClick={{fn (action "onStackClick") instantiationStackLine.filePath instantiationStackLine.line instantiationStackLine.column}} @class={{if (eq this.selectedIndex index) "active"}}>
                  {{instantiationStackLine.stackLine}}
                </PaperItem>
              {{else}}
                <PaperItem @class={{if (eq this.selectedIndex index) "active"}}>
                  {{instantiationStackLine.stackLine}}
                </PaperItem>
              {{/if}}
            {{/each}}
          </PaperList>
        </PaperContent>
      </PaperSidenav>
    </PaperSidenavContainer>
  </card.content>
</PaperCard>
