<PaperToolbar>
  {{#if this.searchFormOpen}}
    <div class="full-length-search">
      <PaperInput @placeholder="Search all nodes" @type="text" @value={{this.searchTerm}} @onChange={{fn (mut this.searchTerm)}} @onKeyDown={{this.search}} />

      <PaperButton @onClick={{this.toggleSearchForm}} @iconButton={{true}}>
        {{paper-icon "cancel"}}
      </PaperButton>
    </div>
  {{else}}
    <PaperToolbarTools>
      <LinkTo @route="index" class="layout-row layout-align-center-center">
        <img height="40" src="/_broccoli-inspector/assets/images/logo/logo-grey.png" alt="Broccoli Inspector in white fill background">
        &nbsp;Broccoli Inspector
      </LinkTo>
      <span class="flex"></span>
      <PaperButton @href={{href-to "dashboard"}} @iconButton={{true}}>
        {{paper-icon "dashboard"}}

        <PaperTooltip @position="bottom">
          Dashboard
        </PaperTooltip>
      </PaperButton>

      <PaperButton @onClick={{this.toggleSearchForm}} @iconButton={{true}}>
        {{paper-icon "search"}}

        <PaperTooltip @position="bottom">
          Search
        </PaperTooltip>
      </PaperButton>
    </PaperToolbarTools>
  {{/if}}
</PaperToolbar>
