<h1> ({{@node.id}}) {{@node.label}} ({{@node.buildState.selfTime}}ms)</h1>

{{#if this.fsTableBody}}
  <Table
    @title="FS Timing"
    @header={{this.fsTableHeader}}
    @body={{this.fsTableBody}}
  />
{{else}}
  <div class="callout">
    No FS Timing available
  </div>
{{/if}}
<br/>
<Table
  @title="File Input & Outputs"
  @header={{this.fileTableHeader}}
  @body={{this.fileTableBody}}
/>
