<h1 class="mt-4"> ({{@node.id}}) {{@node.label}} ({{@node.buildState.selfTime}}ms)</h1>

<InstantiationStackExplorer
  @instantiationStack={{@node.nodeInfo.instantiationStack}}
/>

<br/>

<Table
  @title="Node Info"
  @data={{this.info}}
  @onClick={{this.onInfoTableClick}}
/>

<br/>

{{#if @node.stats.custom}}
  <PaperCard as |card|>
    <card.title as |title|>
      <title.text as |text|>
        <text.headline>Heimdall Schemas</text.headline>
        <text.subhead>Hiemdall Schemas provide additional instrumentation for a plugin to provide aggregate timing for a plugin</text.subhead>
      </title.text>
    </card.title>
    <PaperTabs @stretch={{true}} @borderBottom={{true}} @selected={{this.selectedHeimdallCustomSchemaIndex}} @onChange={{fn (mut this.selectedHeimdallCustomSchemaIndex)}} as |tabs|>
      {{#each @node.stats.custom as |custom|}}
        <tabs.tab>
          {{custom.name}}
        </tabs.tab>
      {{/each}}
    </PaperTabs>
    <pre class="m-0"><code>{{this.selectedHeimdallCustomSchema.jsonValue}}</code></pre>
  </PaperCard>
{{else}}
  <EmptyState
    @iconType="note"
    @title="Heimdall Schemas"
    @subtitle={{html "To get additional data logged here, please visit <a href=\"https://github.com/heimdalljs/heimdalljs-lib\" target=\"_blank\">https://github.com/heimdalljs/heimdalljs-lib</a> for more information."}}
  />
{{/if}}

<br/>

<NodeInfoTimeBreakdown
  @fs={{@node.stats.fs}}
  @selfTime={{@node.buildState.selfTime}}
/>

<br/>

<div class="layout-row">
  <div class="flex-45">
    <Table
      @title="Input Nodes"
      @data={{this.inputNodeWrappers}}
      @empty="No input node wrappers for this plugin"
    />
  </div>
  <div class="flex-10"></div>
  <div class="flex-45">
    <Table
      @title="Output Nodes"
      @data={{this.outputNodeWrappers}}
      @empty="No output node wrappers for this plugin"
    />
  </div>
</div>

<br/>

<Table
  @title="File Input & Outputs"
  @data={{this.files}}
  @empty="No file input or outputs for this plugin"
/>

<br/>
