<h1> ({{@node.id}}) {{@node.label}} ({{@node.buildState.selfTime}}ms)</h1>

{{#if this.fsTableBody}}
  <Table
    @title="FS Timing"
    @header={{this.fsTableHeader}}
    @body={{this.fsTableBody}}
  />
{{else}}
  <div class="callout">
    No FS Timing available
  </div>
{{/if}}

<div>
  <h2>Input Nodes</h2>

  <ul class="node-list--items">
  {{#each @node.inputNodeWrappers as |inputNodeWrapper|}}
    <li>
      <LinkTo @route="node" @model={{inputNodeWrapper.id}}>
        ({{to-fixed inputNodeWrapper.buildState.selfTime 3}}ms) {{inputNodeWrapper.label}}
      </LinkTo>
    </li>
  {{/each}}
  </ul>
</div>

<br/>
<Table
  @title="File Input & Outputs"
  @header={{this.fileTableHeader}}
  @body={{this.fileTableBody}}
/>
