<div class="node-list">
  <input
    class="node-list--search"
    type="text"
    name="Search for any value a node might contain"
    onchange={{action "searchNode"}}
    value={{@searchTerm}}
  >

  <ul class="node-list--items">
    {{#each this.nodes key="@index" as |node idx|}}
      <li>
        <LinkTo @route="node" @model={{node.id}}>
            ({{to-fixed node.buildState.selfTime 3}}ms) {{node.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
