<h1 class="mt-4"> ({{@node.id}}) {{@node.label}} ({{@node.buildState.selfTime}}ms)</h1>

<Table
  @title="Node Info"
  @data={{this.info}}
  @onClick={{this.onInfoTableClick}}
/>

<br/>

{{#if @node.stats.custom}}
  <br/>
  <h2> Heimdall Schemas </h2>
  <i> Hiemdall Schemas provide additional instrumentation for a plugin to provide aggregate timing for a plugin </i>
  <BsTab as |tab|>
    {{#each @node.stats.custom as |custom index|}}
      <tab.pane @title={{custom.name}}>
        <div class="card p-3">
          <pre class="m-0"><code>{{custom.jsonValue}}</code></pre>
        </div>
      </tab.pane>
    {{/each}}
  </BsTab>
{{else}}
  <div class="card">
    <div class="card-body">
      To get additional data logged here, please follow the guide on adding heimdall logging to your plugin.
    </div>
  </div>
{{/if}}

<br/>

<div class="container">
  <div class="row">
    <div class="col">
      <Charts::PluginTimeBreakdown
        @selfTime={{@node.buildState.selfTime}}
        @fs={{@node.stats.fs}}
      />
    </div>
    <div class="col">
      <Table
        @title="FS Timing"
        @data={{this.fs}}
        @empty="No FS Timing available"
      />
    </div>
  </div>
</div>

<br/>

<Table
  @title="Input Nodes"
  @data={{this.inputNodeWrappers}}
  @empty="No input node wrappers for this plugin"
/>

<br/>

<Table
  @title="Output Nodes"
  @data={{this.outputNodeWrappers}}
  @empty="No output node wrappers for this plugin"
/>

<br/>

<Table
  @title="File Input & Outputs"
  @data={{this.files}}
  @empty="No file input or outputs for this plugin"
/>

<br/>
