<h1> ({{@node.id}}) {{@node.label}} ({{@node.buildState.selfTime}}ms)</h1>

<Table
  @title="Node Info"
  @data={{this.info}}
/>

<Table
  @title="FS Timing"
  @data={{this.fs}}
  @empty="No FS Timing available"
/>

<Table
  @title="Input Nodes"
  @data={{this.inputNodeWrappers}}
  @empty="No input node wrappers for this plugin"
/>

<br/>
<Table
  @title="File Input & Outputs"
  @data={{this.files}}
  @empty="No file input or outputs for this plugin"
/>
