<tr {{on "click" @onClick}}>
  {{#each @items as |item|}}
    {{#if item.linkRoute}}
      <td>
        <a href={{href-to item.linkRoute item.linkModel}}>
          {{item.text}}
        </a>
      </td>
    {{else if item.tag}}
      <td>
        <TableTag @tag={{item.tag}} @text={{item.text}} @html={{item.html}}/>
      </td>
    {{else if item.text}}
      <td>{{item.text}}</td>
    {{else}}
      <td>{{item}}</td>
    {{/if}}
  {{/each}}
</tr>
