<PaperToolbar>
  <PaperToolbarTools>
    <h2>
      {{@title}}
    </h2>
    <span class="flex"></span>
    <PaperButton @onClick={{this.toggleCollapseTable}} @iconButton={{true}}>
      {{#if this.tableCollapsed}}
        {{paper-icon "expand_more"}}
      {{else}}
        {{paper-icon "expand_less"}}
      {{/if}}
    </PaperButton>
    <PaperButton @href={{this.csv}} @target="_blank" @iconButton={{true}}>
      {{paper-icon "link"}}

      <PaperTooltip @position="bottom">
        Download data as a CSV
      </PaperTooltip>
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
{{#unless this.tableCollapsed}}
  <table class="table">
    <thead>
      <tr>
        {{#each this.header as |header index|}}
          <th {{on "click" (fn this.sortColumn index)}}>
            {{header}}
            {{#if (eq index this.currentSelectedColumn)}}
              {{#if (eq index this.lastSelectedColumn)}}
                &nbsp;
                {{paper-icon "arrow_drop_up"}}
              {{else}}
                &nbsp;
                {{paper-icon "arrow_drop_down"}}
              {{/if}}
            {{/if}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#if this.body}}
        {{#each this.body as |items idx|}}
          {{#if (and this.isCollapsed (lt idx 10))}}
            <TableRow @items={{items}} @onClick={{this.onClick}}/>
          {{/if}}

          {{#unless this.isCollapsed}}
            <TableRow @items={{items}} @onClick={{this.onClick}}/>
          {{/unless}}
        {{/each}}

        {{#if (and this.isCollapsed (gt this.body.length 10))}}
          <tr>
            <td colspan={{this.width}} class="text-center">
              <PaperButton @raised={{true}} @onClick={{this.toggleCollapse}}>Show {{sub this.body.length 10}} more rows</PaperButton>
            </td>
          </tr>
        {{/if}}

        {{#unless this.isCollapsed}}
          <tr>
            <td colspan={{this.width}} class="text-center">
              <PaperButton @raised={{true}} @onClick={{this.toggleCollapse}}>Show {{sub this.body.length 10}} less rows</PaperButton>
            </td>
          </tr>
        {{/unless}}
      {{else}}
        <tr>
          <td class="text-center" colspan={{this.header.length}}>
            {{@empty}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{{/unless}}
