<h2>{{@title}}</h2>
<table class="table">
  <tr>
    {{#each @data.header as |header|}}
      <th>{{header}}</th>
    {{/each}}
  </tr>
  {{#if @data.body}}
    {{#each @data.body as |items|}}
      <tr>
        {{#each items as |item|}}
          {{#if item.linkRoute}}
            <td>
              <LinkTo
                @route={{item.linkRoute}}
                @model={{item.linkModel}}
              >
                {{item.text}}
              </LinkTo>
            </td>
          {{else}}
            <td>{{item}}</td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td class="text-center" colspan={{@data.header.length}}>
        {{@empty}}
      </td>
    </tr>
  {{/if}}
</table>
