<div class="card h-100">
  <div class="card-header text-center">
    <h2> Node Time Breakdown </h2>
    <i> This node's time is compromised of fs and other. Other consists of operations that occur in the plugin itself. Please see the Heimdall Schema section for more context to what that could be. </i>
  </div>
  <div class="card-body p-0">
    <C3Chart
      @data={{this.data}}
      @title={{this.title}}
      @padding={{this.padding}}
      @c3chart={{this.chart}}
      @tooltip={{this.tooltip}}
      @pie={{this.pie}}
    />
  </div>
</div>
