<Progressbar
  @currentStep={{this.currentNode}}
  @isBuilding={{this.isBuilding}}
  @currentBuildTime={{this.currentBuildTime}}
/>

<Navbar/>

<PaperSidenavContainer @class="main-container">
  <PaperSidenav @class="md-whiteframe-z2 md-navigation-rail" @lockedOpen={{true}}>
    <PaperList>
      <PaperItem>
        <PaperButton @href={{href-to this.currentRouteName (query-params queryContext="group")}} @iconButton={{true}} @raised={{true}}>
          {{paper-icon "group-work"}}
          <PaperTooltip @position="right">
            Nodes grouped by plugins
          </PaperTooltip>
        </PaperButton>
      </PaperItem>

      <PaperItem>
        <PaperButton @href={{href-to this.currentRouteName (query-params queryContext=null)}} @iconButton={{true}} @raised={{true}}>
          {{paper-icon "list"}}
          <PaperTooltip @position="right">
            All nodes
          </PaperTooltip>
        </PaperButton>
      </PaperItem>

      <PaperItem>
        <PaperButton @href={{href-to this.currentRouteName (query-params queryContext="builds")}} @iconButton={{true}} @raised={{true}}>
          {{paper-icon "timeline"}}
          <PaperTooltip @position="right">
            Build timelines
          </PaperTooltip>
        </PaperButton>
      </PaperItem>
    </PaperList>
  </PaperSidenav>

  <PaperSidenav @class="md-whiteframe-z2" @lockedOpen={{true}}>
    {{#if @model.nodesByType}}
      <PluginGroupedList
        @nodesByType={{@model.nodesByType}}
      />
    {{/if}}

    {{#if @model.nodes}}
      <PluginList
        @nodes={{@model.nodes}}
        @pluginType={{this.pluginType}}
      />
    {{/if}}

    {{#if @model.builds}}
      <BuildsList
        @builds={{@model.builds}}
      />
    {{/if}}
  </PaperSidenav>

  <div id="main" class="flex layout-column md-padding" tabindex="-1" role="main">
    {{outlet}}
  </div>
</PaperSidenavContainer>

{{#if this.buildError}}
  <PaperDialog @class="flex">
    <PaperDialogContent @class="p-0">
      <div class="m-0">
        <PaperCard @class="m-0" as |card|>
          <card.title as |title|>
            <title.text as |text|>
              <text.headline>Error!</text.headline>
              <text.subhead>{{this.buildError.location}} in <a href={{href-to "node" this.buildError.nodeId}}>{{this.buildError.nodeLabel}}</a></text.subhead>
            </title.text>
          </card.title>
          <pre class="m-0"><code>{{this.buildError.message}}</code></pre>
          <card.content @class="m-0 p-0">
            <CodeBlock class="line-numbers mb-0 mt-0" @code={{this.buildError.fileContents}} data-line={{this.buildError.line}}/>
          </card.content>
        </PaperCard>
      </div>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}

<PaperToaster @parent="#main" />
