<Navbar/>

<Progressbar
  @currentStep={{this.currentNode}}
  @isBuilding={{this.isBuilding}}
  @currentBuildTime={{this.currentBuildTime}}
/>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    {{#if this.isBuilding}}
      <div class="mx-auto">
        <EmptyState
          @iconType="truck-loading"
          @iconSize="4x"
          @title="Broccoli is currently building"
          @subtitle="This will refresh when broccoli is done building"
        />
      </div>
    {{else}}
      <div class="col-3 sidebar">
        {{#if this.isLoading}}
          <EmptyState
            @iconType="truck-loading"
            @iconSize="4x"
            @title="Fetching data"
            @subtitle="This will refresh when data has been fetched"
          />
        {{else}}
          <div>
            <div class="alert alert-dark">
              {{#if @model.nodes}}
                <i>Total time {{to-fixed (node-total-time @model.nodes) 3}}ms</i>
              {{/if}}

              {{#if @model.nodesByType}}
                  <i>Total time {{to-fixed (node-by-type-total-time @model.nodesByType) 3}}ms</i>
              {{/if}}
            </div>

            <form class="m-3">
              {{#unless this.groupPlugins}}
                <div class="form-group">
                  <input
                    class="form-control ds-input"
                    type="text"
                    placeholder="Filter by plugin name"
                    value={{@model.searchTerm}}
                    {{on "change" this.search}}
                  />
                </div>
              {{/unless}}

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked={{this.groupPlugins}} {{on "change" this.toggleGroupingPlugins}}>
                <label class="form-check-label" for="defaultCheck1">
                  Group Plugins by Type
                </label>
              </div>
            </form>
          </div>

          <hr/>

          <nav class="nav flex-column">
            {{#if this.pluginType}}
              <a class="nav-link" href="#" {{on "click" (fn this.selectPluginGroup "")}}>
                <h6>
                  <FaIcon @icon="chevron-left" @size="1x"/>
                  {{this.pluginType}}
                </h6>
              </a>
            {{/if}}

            {{#if @model.nodesByType}}
              {{#each @model.nodesByType key="@index" as |node idx|}}
                {{#if (and this.isCollapsed (lt idx 10))}}
                  <a class="nav-link d-flex justify-content-between align-items-center text-break" href="#" {{on "click" (fn this.selectPluginGroup node.label)}}>
                      ({{to-fixed node.time 3}}ms) {{node.label}}
                      <span class="badge badge-primary badge-pill">{{node.amountOfNodes}}</span>
                  </a>
                {{/if}}

                {{#unless this.isCollapsed}}
                  <a class="nav-link text-center" href="#" {{on "click" (fn this.selectPluginGroup node.label)}}>
                      ({{to-fixed node.time 3}}ms) {{node.label}}
                      <span class="badge badge-primary badge-pill">{{node.amountOfNodes}}</span>
                  </a>
                {{/unless}}
              {{/each}}

              {{#if (and this.isCollapsed (gt @model.nodesByType.length 10))}}
                <a class="btn btn-outline-primary text-center m-2" href="#" {{on "click" this.uncollapse}}> Show {{sub @model.nodesByType.length 10}} More </a>
              {{/if}}
            {{else if @model.nodes}}
              {{#each @model.nodes key="@index" as |node idx|}}
                {{#if (and this.isCollapsed (lt idx 10))}}
                  <LinkTo class="nav-link d-flex justify-content-between align-items-center text-break" @route="node" @model={{node.id}}>
                    {{node.label}}

                    <span class="badge badge-primary badge-pill">{{to-fixed node.buildState.selfTime 3}}ms</span>
                  </LinkTo>
                {{/if}}

                {{#unless this.isCollapsed}}
                  <LinkTo class="nav-link d-flex justify-content-between align-items-center text-break" @route="node" @model={{node.id}}>
                      ({{to-fixed node.buildState.selfTime 3}}ms) {{node.label}}
                  </LinkTo>
                {{/unless}}
              {{/each}}

              {{#if (and this.isCollapsed (gt @model.nodes.length 10))}}
                <a class="btn btn-outline-primary text-center m-2" href="#" {{on "click" this.uncollapse}}> Show {{sub @model.nodes.length 10}} More </a>
              {{/if}}
            {{else}}
              <div class="d-flex height-fill">
                <div class="mx-auto">
                  <EmptyState
                    @iconType="times-circle"
                    @iconSize="4x"
                    @title="Could not find any nodes for your search"
                    @subtitle="Please search another term."
                  />
                </div>
              </div>
            {{/if}}
          </nav>
        {{/if}}
      </div>
      <div class="col-9">
        {{outlet}}
      </div>
    {{/if}}
  </div>
</div>
