<Navbar/>

<Progressbar
  @currentStep={{this.currentNode}}
  @isBuilding={{this.isBuilding}}
  @currentBuildTime={{this.currentBuildTime}}
/>

<div class="container">
  <div class="flex-grid">
    {{#if this.isBuilding}}
      <div class="content-center">
        <EmptyState
          @iconType="truck-loading"
          @iconSize="4x"
          @title="Broccoli is currently building"
          @subtitle="This will refresh when broccoli is done building"
        />
      </div>
    {{else}}
      <div class="sidebar">
        <ul class="node-list">
          <li class="node-list--items node-list--items-header text-center">
            <label for="group-plugins">Group Plugins by Type</label>
            <input id="group-plugins" type="checkbox" checked={{this.groupPlugins}} {{on "change" this.toggleGroupingPlugins}}/>
          </li>

          {{#unless this.groupPlugins}}
            <li class="node-list--items node-list--items-header">
              <div class="node-list--search">
                <input
                  type="text"
                  placeholder="Filter by plugin name"
                  value={{@model.searchTerm}}
                  {{on "change" this.search}}
                />
              </div>
            </li>
          {{/unless}}

          {{#if @model.nodes}}
            <li class="node-list--items node-list--items-header text-center">
              <i>Total time {{to-fixed (node-total-time @model.nodes) 3}}ms</i>
            </li>
          {{/if}}

          {{#if @model.nodesByType}}
            <li class="node-list--items node-list--items-header text-center">
              <i>Total time {{to-fixed (node-by-type-total-time @model.nodesByType) 3}}ms</i>
            </li>
          {{/if}}

          {{#if @model.searchTerm}}
            <li class="node-list--items">
              <div class="plugin-selected">
                {{@model.searchTerm}}
                <button
                  class="plugin-selected--clear"
                  {{on "click" this.clearSearch}}
                >X</button>
              </div>
            </li>
          {{/if}}

          {{#if this.pluginType}}
            <li class="node-list--items">
              <div class="plugin-selected">
                {{this.pluginType}}
                <button
                  class="plugin-selected--clear"
                  {{on "click" (fn this.selectPluginGroup "")}}
                >X</button>
              </div>
            </li>
          {{/if}}

          {{#if @model.nodesByType}}
            {{#each @model.nodesByType key="@index" as |node idx|}}
              <li class="node-list--items">
                <a href="#" {{on "click" (fn this.selectPluginGroup node.label)}}>
                    ({{to-fixed node.time 3}}ms) {{node.label}} ({{node.nodes.length}})
                </a>
              </li>
            {{/each}}
          {{else if @model.nodes}}
            {{#each @model.nodes key="@index" as |node idx|}}
              <li class="node-list--items">
                <LinkTo @route="node" @model={{node.id}}>
                    ({{to-fixed node.buildState.selfTime 3}}ms) {{node.label}}
                </LinkTo>
              </li>
            {{/each}}
          {{else}}
            <div class="display-flex height-fill">
              <div class="content-center">
                <EmptyState
                  @iconType="times-circle"
                  @iconSize="4x"
                  @title="Could not find any nodes for your search"
                  @subtitle="Please search another term."
                />
              </div>
            </div>
          {{/if}}
        </ul>
      </div>
      <div class="main">
        {{outlet}}
      </div>
    {{/if}}
  </div>
</div>
