<h1> Dashboard </h1>

<i> Total Time : {{this.model.selfTime}}ms</i>

<h2> Slowest Node </h2>

<LinkTo @route="node" @model={{this.model.slowestNode.id}}>
    ({{to-fixed this.model.slowestNode.buildState.selfTime 3}}ms) {{this.model.slowestNode.label}}
</LinkTo>

<Charts::FsCount
  @fs={{this.model.totalFs}}
/>

<Table
  @title="Total FS Timing"
  @data={{this.fs}}
  @empty="No FS Timing available"
/>
