{{#if @model.result}}
  <h2>{{@model.result.length}} results found for "{{@model.query}}"</h2>

  {{#each @model.result key="@index" as |searchResult|}}
    {{#each searchResult.results key="@index" as |result|}}
      <PaperCard as |card|>
        <card.title as |title|>
          <title.text as |text|>
            <text.subhead>
              <LinkTo @route="node" @model={{searchResult.node.id}}>
                {{searchResult.node.label}}
              </LinkTo>

              {{paper-icon "arrow_right"}}

              {{result.property}}
            </text.subhead>
          </title.text>
        </card.title>
        <card.content @class="m-0 p-0">
          <pre class="mb-0 mt-0"><code><br/>{{highlight-text result.stringValue @model.query}}<br/><br/></code></pre>
        </card.content>
      </PaperCard>

    {{/each}}
  {{/each}}
{{else}}
  <EmptyState
    class="mt-3"
    @iconType="hourglass_empty"
    @title={{concat "No search results found for " "\"" @model.query "\""}}
  />
{{/if}}
