{{#if @model.result}}
  <div class="mt-3">
    <h2> {{@model.result.length}} results found </h2>
    {{#each @model.result key="@index" as |searchResult idx|}}
      {{#each searchResult.results key="@index" as |result idx|}}
        <div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <LinkTo @route="node" @model={{searchResult.node.id}}>
                  {{searchResult.node.label}}
                </LinkTo>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{result.property}}</li>
            </ol>
          </nav>

          <pre><code>...<br/>{{highlight-text result.stringValue @model.query}}<br/>...<br/></code></pre>
        </div>
        <hr/>
      {{/each}}
      <hr/>
    {{/each}}
  </div>
{{else}}
  <EmptyState
    class="mt-3"
    @iconType="battery-empty"
    @iconSize="4x"
    @title={{concat "No Data found for your search " "\"" @model.query "\""}}
    @subtitle=""
  />
{{/if}}
