{{#if @model.result}}
  <h2> {{@model.result.length}} results found </h2>

  {{#each @model.result key="@index" as |searchResult|}}
    {{#each searchResult.results key="@index" as |result|}}
      <PaperCard as |card|>
        <card.title as |title|>
          <title.text as |text|>
            <text.headline>
              <LinkTo @route="node" @model={{searchResult.node.id}}>
                {{searchResult.node.label}}
              </LinkTo>

              {{paper-icon "arrow_right"}}

              {{result.property}}
            </text.headline>
            <text.subhead>
              <pre><code>...<br/>{{highlight-text result.stringValue @model.query}}<br/>...<br/></code></pre>
            </text.subhead>
          </title.text>
        </card.title>
      </PaperCard>

    {{/each}}
  {{/each}}
{{else}}
  <EmptyState
    class="mt-3"
    @iconType="battery-empty"
    @iconSize="4x"
    @title={{concat "No Data found for your search " "\"" @model.query "\""}}
    @subtitle=""
  />
{{/if}}
